@import "tailwindcss";

/* estilos personalizados */
@theme {  
  --color-main: #5B25D9;
  --color-main-dark: #453C59;
  --color-secondary: #DA8126;
  --color-light-bg: #E7E4EF;
}


:root {
  width: 100%;
  font-family: "Akshar", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* fuentes */
@font-face {
  font-family: "Akshar";
  src: url("/src/assets/fonts/Akshar-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Akshar";
  src: url("/src/assets/fonts/Akshar-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Akshar";
  src: url("/src/assets/fonts/Akshar-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Akshar";
  src: url("/src/assets/fonts/Akshar-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Akshar";
  src: url("/src/assets/fonts/Akshar-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}



a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
  padding: 0 0 1rem 0;
  margin: 0;
  color: var(--color-main-dark);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* animacion hojas */
@keyframes fall {
  0% {
    transform: translateY(-20vh) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(120vh) rotate(360deg);
    opacity: 0;
  }
}

.animate-fall {
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}


/* media queries */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
